body {
    background-color: rgb(250, 239, 219);
}
nav {
    padding: 10PX,10PX,10px;
}
nav a {

}
.abertura {

    text-align: center;
    font-size: 30px;
}
.imagens {
    border-image: auto;
}
.texto {
text-align: center;
text-transform: uppercase;
text-decoration: overline;
text-decoration: double;
}
